/**
* @author: Sankar boro
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, #root {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.required {
    color: rgb(0, 130, 252);
    font-size: 12px;
}
.form-label {
    padding: 5px 0px 5px 0px;
    font-size: 16px !important;
}
/* Reset css */

/* Import fonts */
@font-face {
    font-family: "SSP-R";
    src: local("SSP-R"),
    url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SSP-SB";
    src: local("SSP-SB"),
    url("./fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "OS-L";
    src: local("OS-L"),
    url("./fonts/OpenSans-Light.ttf") format("truetype");
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: grey white;
  }
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: white;
}
  
*::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 3px solid white;
}
  

html, body, .home, .body {
    font-family: 'SSP-R', sans-serif;
    height: 100%;
}
.home-page-container {
    width: 100%;
}
#root {
    height: 100%;
}
.hover:hover {
    cursor: pointer;
}

/* Container styles */
.container {
    height: 100%;
}
.container-flex {
    display: flex;
    flex-direction: row;
}
.con-100 {
    width: 100%;
}
.con-95 {
    width: 95%;
}
.con-90 {
    width: 90%;
}
.con-85 {
    width: 85%;
}
.con-80 {
    width: 80%;
}
.con-75 {
    width: 75%;
}
.con-70 {
    width: 70%;
}
.con-65 {
    width: 65%;
}
.con-60 {
    width: 60%;
}
.con-55 {
    width: 55%;
}
.con-50 {
    width: 50%;
}
.con-45 {
    width: 45%;
}
.con-40 {
    width: 40%;
}
.con-35 {
    width: 35%;
}
.con-30 {
    width: 30%;
}
.con-25 {
    width: 25%;
}
.con-20 {
    width: 20%;
}
.con-15 {
    width: 15%;
}
.con-18 {
    width: 18%;
}
.con-19 {
    width: 19%;
}
.con-10 {
    width: 10%;
}
.con-5 {
    width: 5%;
}
.pad-10 {
    padding: 10px;
}
.container-sm {
    width: 75%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    justify-content: center;
    align-items: center;
}
/* Custom page containers */
.container-login {
    width: 345px;
    padding: 20px;
}
.container-create-book {
    width: 95%;
}

.book-title {
    font-family: 'OS-L';
}

/* Form */
.form-section {
    margin: 10px 0px;
}
.form-input {
    padding: 5px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 2px;
    background: transparent;
}
.form-label {
    font-size: 14px;
}
.group-form-input {
    margin-bottom: 10px;
}
.link {
    color: #404040;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 box-shadow: 0 0 0 30px white inset !important;
}
/* Login */

/* Button */
.button {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f6f6f6;
}
.button-delete {
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid red;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}

/* Suffix styles */
.button:hover {
    cursor: pointer;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.navbar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    height: 32px;
    align-items: center;
    font-size: 0.9em;
}
.navbar-top-right, .navbar-top-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-left {
    width: 20%;
}
.nav-section {
    display: flex;
    align-items: center;
    height: 32px;
    min-width: 45px;
    padding: 0px 10px;
    border-right: 0.1em solid #ccc;
}

/* Body */
.body {
    margin-top: 32px;
}
.card {
    width: 23%;
}
.card-title {
    padding: 5px 0px;
    margin-bottom: 10px;
}
.card-title span {
    font-family: "SSP-SB";
}

/* Menu dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 8px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-left: 1px solid #ccc;
}

/* .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 32px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Read book */
.page-nav {
    line-height: 1.8em;
}
.description {
    /* white-space: pre-wrap; */
    font-size: 17px;
    line-height: 1.45em;
}
.li-item {

    color: #4d4d4d;
    padding: 15px 0px;
}
.li-item a {
    text-decoration: none;
    color: black;
}
.li-item:hover, .section-nav:hover, .chapter-nav:hover, .page-nav:hover {
    cursor: pointer;
}
.page-title {
    font-size: 1em;
}
.section-title {
    font-size: 1em;
}
.chapter-nav, .section-nav {
}
.add-chapter-upper-container {
    font-size: 0.8em;
    /* background-color: springgreen; */
}
.add-section-upper-container {
    margin-left: 20px;
    font-size: 0.8em;
}
.add-section-inner-container {
    font-size: 0.8em;
}
.section-nav-top {
    margin-left: 20px;   
}
.add-section-title {
    padding: 5px 0px;
}
.section-nav {
    margin-left: 20px;   
}
.pad-hor-5 {
    padding-left: 5%;
    padding-right: 5%;
}
.scroll-view {
    height: 100%;
    overflow-y:scroll;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    font-size: 13px;
    background-color: black;
    color: #fff;
    text-align: center;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    left: 0;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Read components */
.body-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.navigation-container {
    height: 100%;
    width: 15%;
    position: fixed;
    padding: 15px 5px 0px 10px;
    background-color: #fafafa;
}
.document-container {
    height: 100%;
    width: 64%;
    margin-left: 15%;
    padding: 20px 10% 0px 10%;
}
.divider-container {
    width: 20%;
    height: 100%;
    padding: 15px 10px 0px 10px;
    /* background-color: rgb(209, 252, 204); */
}
.document-view-container {
    margin-top: 20px;
    width: 100%;
}
/* Modal */
.modal {
    position: fixed;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgb(241, 242, 252);
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.edit-title-container {
    width: 100%;
    display: flex;
}
.edit-title {
    width: 85%;
}
.edit-title-icons {
    width: 15%;
    flex-direction: row;
    justify-content: right;
    display: flex;
}
.modal-container {
    padding: 5%;
    position: absolute;
}

.margin-top-50 {
    margin-top: 50px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}

.search-input-container {
    width: 100%;
}
.search-input {
    width: 75%;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    background: transparent;
}
.content-editable {
    height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
}
.subSection-view-container {
    margin-top: 10px;
}
.edit-click {
    font-size: 13px;
    color: rgb(0, 81, 173);
}
.delete-click {
    margin-left: 10px;
    font-size: 13px;
    color: rgb(0, 81, 173);
}
.add-item {
    font-size: 13px;
    color: rgb(0, 81, 173);
}
.required-imp {
    border: 1px solid red;
}